header {
    background: lightgreen;
    text-align: center;
}

.p1 {
    margin-left: 580px;
}

.p2 {
    margin-left: 640px;
    margin-top: -35px;
}

.p3 {
    margin-left: 720px;
    margin-top: -33px;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    color: black;
}

div {
    text-align: center;
    margin-top: 150px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}